PORT=5000
GENDERIZE_API_URL=https://api.genderize.io
AGIFY_API_URL=https://api.agify.io
NATIONALIZE_API_URL=https://api.nationalize.io
POSTGRES_URI=
POSTGRES_DEV_URI=
API_VERSION=1
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:5000/auth/github/callback
GITHUB_STATE_STRING=
GITHUB_LOGIN_REDIRECT_URL=https://github.com/login/oauth/authorize
GITHUB_ACCESS_TOKEN_URL=https://github.com/login/oauth/access_token
GITHUB_USER_API_URL=https://api.github.com/user
SESSION_SECRET=
JWT_SECRET=
NODE_ENV=development